<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Operador de Bus | <%= link_to "Ver #{@bus.official_name}", buses_show_path(@bus) %></h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <h4 class="header-title m-t-0 m-b-30"><%= @bus.official_name %></h4>

      <div class="row">
        <div class="col-lg-12">
          <%= form_tag buses_update_path(@bus), :class => 'form-horizontal' do %>
            <%= fields_for @bus do |f| %>
              <div class="form-group">
                <label class="col-md-2 control-label">Descripción</label>
                <div class="col-md-10">
                  <%= f.text_area :description, :class => 'form-control' %>
                </div>
              </div>
              <div class="p-t-10 pull-right">
                <%= f.submit 'Guardar', :class => 'btn btn-primary' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>