<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Lista de Operadores de Buses</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box table-responsive">
      <div class="pull-right">
      <strong style="padding-right: 20px;">Ordenado Por:</strong>
      <%= select_tag :filter_option, options_for_select([['Nombre', '1'], ['Posición', '2']], :selected => session[:filter_option ]),
                                     { :class => 'btn btn-rounded btn-default pull-right w-lg m-b-5'} %>
      </div>
      <br><br><br>

      <table id="datatable" class="tablesaw m-t-20 table m-b-0 tablesaw-stack">
        <tbody>
          <% @buses.each do |bus| %>
            <tr>
              <td class="text-center"><%= image_tag bus.icon.url(:thumb) %></td>
              <td><h2><strong><%= bus.official_name %></strong></h2></td>
              <td class="text-center">
                <i class="fa fa-star fa-4x yellow" aria-hidden="true"></i><br>
                <span class="rating"> <%= bus.rating_value.blank? ? 0.0 : bus.rating_value %> de 5.0 </span>
              </td>
              <td class="pull-right">
                <%= link_to buses_show_path(bus), :class => 'btn btn-primary waves-effect waves-light m-b-5' do %>
                  <i class="fa fa-eye m-r-5"></i> <span>VER</span>
                <% end %>
                <%= link_to buses_edit_path(bus), :class => 'btn btn-info waves-effect waves-light m-b-5' do %>
                  <i class="fa fa-pencil m-r-5"></i> <span>EDITAR</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= will_paginate @buses, renderer: BootstrapPagination::Rails, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
    </div>
  </div>
</div>

<script>
  $( "#filter_option" ).change(function() {
    var url = "/buses/order_filter/"+$(this).val();
    window.location.replace(url);
  });
</script>