<!-- Vista basada en el mockup, se llevo directo a la vista del bus por un tema de diseño -->
<h1>Calificaciones de <%= @bus.official_name %> | <%= link_to 'Ver', buses_show_path(@bus) %></h1>

<ul>
  <% @bus.ratings.each do |rating| %>
    <li>
      Nota: <%= rating.rating_total %><br>
      Comentario: <%= rating.comment %>
    </li>
  <% end %>
</ul>