<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Operador de Bus</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <div class="bg-picture card-box">
      <div class="profile-info-name">
        <%= image_tag @bus.image.url(:mdpi), :class => 'image img-thumbnail', :alt => 'bus' %>

        <div class="profile-info-detail">
          <h3 class="m-t-0 m-b-0"><%= @bus.official_name %></h3>
          <p class="text-muted m-b-20"><i><%= image_tag @bus.icon.url(:thumb), :class => 'icon' %></i></p><br>
          <p><%= @bus.description.blank? ? 'Sin descripción' : @bus.description %></p>
          <div class="button-list m-t-20">
            <%= link_to buses_edit_path(@bus), :class => 'btn btn-facebook btn-sm waves-effect waves-light' do %>
              <i class="fa fa-pencil"></i> Editar
            <% end %>

            <%= link_to buses_ratings_path(@bus), :class => 'btn btn-facebook btn-sm waves-effect waves-light' do %>
              <i class="fa fa-eye"></i> Ver Calificaciones
            <% end %>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <%= form_tag buses_create_rating_path(@bus), :class => 'card-box' do %>
      <h3>Calificar <strong class="pull-right text-warning"><%= @bus.calculate_rating.blank? ? 0.0 : @bus.calculate_rating %> de 5.0 </strong></h3>
      <%= fields_for @rating do |f| %>
        <span class="input-icon icon-right">
          <%= f.text_area :comment, :class => 'form-control', :placeholder => 'Escriba su comentario' %>
        </span>
        <div class="p-t-10 pull-right">
          <%= f.submit 'Enviar', :class => 'btn btn-primary' %>
        </div>
        <ul class="nav nav-pills profile-pills m-t-10">
          <li>
            <%= f.select :rating_total, options_for_select((1..5).to_a.map{|s| ["#{s}", s]}), {}, {:class => 'btn btn-purple btn-sm'} %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <div class="card-box">
      <h4 class="header-title m-t-0 m-b-30"><i class="zmdi zmdi-notifications-none m-r-5"></i> Calificaciones</h4>
      <ul class="list-group m-b-0 user-list">
        <% @bus.ratings.each do |rating| %>
          <li class="list-group-item">
            <a class="user-list-item">
              <div class="avatar text-center">
                <i class="fa fa-star yellow"></i><br>
                <span><%= rating.rating_total %></span>
              </div>
              <div class="user-desc">
                <span class="name"><%= rating.comment %></span>
                <span class="desc"><%= rating.created_at %></span>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>





