<!DOCTYPE html>
<html>
  <head>
    <title>Recorrido Test</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="topnav">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="topbar-main">
          <div class="container">
            <div class="topbar-left">
              <%= link_to buses_index_path, :class => 'logo' do %>
                <span>Recorrido<span>Test</span></span>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="wrapper">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
